
<div class="page-header">
<!--   <%= link_to providers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %> -->
<!--   <%= link_to edit_provider_path(@provider), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %> -->

  <h1><%= @provider.Location_Name %></h1>
</div>



<dl class="dl-horizontal">
  <dt>Provider number:</dt>
  <dd><%= @provider.Provider_Number %></dd>

  <dt>Location name:</dt>
  <dd><%= @provider.Location_Name %></dd>

  <dt>Address:</dt>
  <dd><%= @provider.Address %></dd>

  <dt>City:</dt>
  <dd><%= @provider.City %></dd>

  <dt>State:</dt>
  <dd><%= @provider.State %></dd>

  <dt>Zip:</dt>
  <dd><%= @provider.Zip %></dd>

  <dt>Contact name:</dt>
  <dd><%= @provider.Admin_First_Name %>&nbsp;<%= @provider.Admin_Last_Name %></dd>


  <dt>Phone:</dt>
  <dd><%= @provider.Phone %></dd>

  <dt>Licensedcapacity:</dt>
  <dd><%= @provider.LicensedCapacity %></dd>

  <dt>Operation months:</dt>
  <dd><%= @provider.Operation_Months %></dd>

  <dt>Operation days:</dt>
  <dd><%= @provider.Operation_Days %></dd>

  <dt>Hours open:</dt>
  <dd><%= @provider.Hours_Open %></dd>

  <dt>Hours close:</dt>
  <dd><%= @provider.Hours_Close %></dd>



  <dt>Infant 0 to 12mos:</dt>
  <dd><%= @provider.Infant_0_To_12mos %></dd>

  <dt>Toddler 13mos to 2yrs:</dt>
  <dd><%= @provider.Toddler_13mos_To_2yrs %></dd>

  <dt>Preschool 3yrs to 4yrs:</dt>
  <dd><%= @provider.Preschool_3yrs_To_4yrs %></dd>

  <dt>Pre k served:</dt>
  <dd><%= @provider.Pre_K_Served %></dd>

  <dt>School age 5yrs plus:</dt>
  <dd><%= @provider.School_Age_5yrs_Plus %></dd>

  <dt>Ages other than pre k served:</dt>
  <dd><%= @provider.Ages_Other_Than_Pre_K_Served %></dd>

  <dt>Has evening care:</dt>
  <dd><%= @provider.Has_Evening_Care %></dd>

  <dt>Has drop in care:</dt>
  <dd><%= @provider.Has_Drop_In_Care %></dd>

  <dt>Has school age summer care:</dt>
  <dd><%= @provider.Has_School_Age_Summer_Care %></dd>

  <dt>Has special needs care:</dt>
  <dd><%= @provider.Has_Special_Needs_Care %>
          <% if @provider.Has_Special_Needs_Care = true %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-unchecked"></span>
          <% end %>
  </dd>


</dl>
<p>I want to put the True/False values into a small 3x4 table grid. Along with displaying any Comments below this</p>
<hr>
<h3>Comments</h3>
<p>These Comments are just peoples thoughts and feelings at they time they posted them. Please your good judgement about if the comment is of any real value to you.</p>

<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
<p>Just like in the Tunr app, where when the Artist shows up as a single page, their songs show up below them.
  Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Cras fringilla lacus at odio consequat dapibus. Vestibulum non sut ligula semper. Morbi ornare imperdiet laoreet. Suspendisse ac diam purus. Morbi eu tortor at augue pretium faucibus non in dolor. Praesent lobortis posuere ligula vitae maximus. Nullam viverra mi et metus lobortis aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ullamcorper fermentum placerat.
  <br>
<span>Created: date, by User.name</span>
</p>

<hr>

<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
<p>Just like in the Tunr app, where when the Artist shows up as a single page, their songs show up below them.
  Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Cras fringilla lacus at odio consequat dapibus. Vestibulum non sut ligula semper. Morbi ornare imperdiet laoreet. Suspendisse ac diam purus. Morbi eu tortor at augue pretium faucibus non in dolor. Praesent lobortis posuere ligula vitae maximus. Nullam viverra mi et metus lobortis aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ullamcorper fermentum placerat.
  <br>
<span>Created: date, by User.name</span>
</p>


<!-- /comments/:id(.:format) -->

<% if signed_in? %>  
  <li><%= link_to 'Make new Notes', new_comment_path  %></li>
<% else %>
  <li>display comments</li>
<% end %>






