
<% provide(:title, 'Home') %>

<div class="text-center jumbotron">
  <h1>Welcome to WeCare, <br> a Daycare Review Site</h1>
  <h3>This is the home page for the Daycare Review Site.</h3>
  <p>Let's use this space for a form to select the provider city</p>
	
	<div class="form-group">

		<%= form_for(Provider.new,  url: providers_path, method: "get") do |f| %>

			<%= f.select :City, @cities %>

			<div class="col-sm-offset-2 col-sm-10">
		      <%= f.submit class: "btn btn-primary" %>
		    </div> 

		<% end %>
	</div>	
	  <br/>
	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
</div>
